/* Sticky footer
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

    body .row {
        margin-bottom: 60px;
    }

    body > .container {
        padding: 60px 15px 0;
    }

.container .text-muted {
    margin: 20px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}

    .footer > .container {
        padding-right: 15px;
        padding-left: 15px;
    }

/* Pagination
-------------------------------------------------- */
.pager {
    margin-bottom: 60px;
    text-align: left;
}

    .pager > li > a {
        width: 140px;
        padding: 10px 20px;
        text-align: center;
        border-radius: 30px;
    }
